<p>
test works {{name}}!
</p>
<div>
  Inline Template
  </div>
  <h2> what do you see?</h2>
  <h1>{{"Welcome " + name}}</h1>
  <h2>{{name.length}}</h2>
  <h3 [class]='successClass'>{{greetUser()}}</h3>
  <h2>{{siteUrl}}</h2>
  <input [id]="myId" type="text" value="Something">
  <input bind-disabled="isDisabled" [id]="myId" type="text" value="Anything">
  <h2 [class.text-danger]='hasError'>{{siteUrl}}</h2>

  <h2 [ngClass]='messageClass'>{{siteUrl}} style using messageClass object</h2>
  <h2 [style.color]="hasError ? 'red' : 'green'"> what do you see?</h2>
  <h2 [style.color]="highlightColor">{{name.length}} using style.color</h2>

  <h2 [ngStyle]="styleClasses"> what do you see? using style class </h2>

  <button (click)="onClick($event)">Greet</button>
&nbsp;&nbsp;
  <button (click)="greeting='Welcome Sayon 2'">Greet1</button>
  {{greeting}}
<br>
<br>
<input #myInput type="text">
<button (click)="logEvent(myInput.value)">Log</button>
<br>
<br>
<input [(ngModel)]="newName" type="text">
{{newName}}
<div *ngIf="displayName; then thenBlock; else elseBlock"></div>
<ng-template #thenBlock><h2>Wassup</h2></ng-template>


<div [ngSwitch]="colorCase">
  <div *ngSwitchCase="'red'">Red Color!!</div>
  <div *ngSwitchCase="'green'">Green Color!!</div>
  <div *ngSwitchCase="'blue'">Blue Color!!</div>
  <div *ngSwitchDefault>Pick Again!!</div>
</div>
<br>
<div *ngFor="let color of colors; index as i">
  <h2>{{i}}  {{color}}</h2>
</div>

<div *ngFor="let color of colors; first as i">
  <h2>{{i}}  {{color}}</h2>
</div>

<div *ngFor="let color of colors; last as i">
  <h2>{{i}}  {{color}}</h2>
</div>
<h2>Hello {{parentName}} from parentComponent</h2>
<button (click)="fireEvent()">Send Event</button>
<h1>PIPES!!!</h1>
<h1>{{parentName | lowercase}}</h1>
<h1>{{parentName | uppercase}}</h1>
<h1>{{parentName + " Welcome"| titlecase}}</h1>
<h1>{{parentName | slice:1:4}}</h1>
<h1>{{messageClass | json}}</h1>

<h2>{{5.678 | number:'1.2-3'}}</h2>
<h2>{{5.678 | number:'3.4-5'}}</h2>
<h2>{{5.678 | number:'3.1-2'}}</h2>
<h2>{{0.5 | percent}}</h2>
<h2>{{100 | currency: 'INR'}}</h2> 
<h2>{{100 | currency: 'INR': 'code'}}</h2>

<h3>{{date}}</h3>
<h3>{{date | date:'short'}}</h3>
<h3>{{date | date:'shortDate'}}</h3>
<h3>{{date | date:'shortTime'}}</h3>
